---
Language:        Cpp
BasedOnStyle:  Google
AlignAfterOpenBracket: DontAlign
PointerAlignment: Right
ReferenceAlignment: Right
SpaceAfterCStyleCast: true
UseTab:          Never
TabWidth:        4
IndentWidth:     4
AllowShortEnumsOnASingleLine: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:  false
  AfterClass:      true
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDefinitionName: true
  AfterFunctionDeclarationName: false
  AfterFunctionDefinitionName: false
  AfterIfMacros: true
  AfterOverloadedOperator: false
  BeforeNonEmptyParentheses: false
SpaceInEmptyBlock: true
AlwaysBreakAfterReturnType: AllDefinitions
...
